body {
    background: grey;
}

#banner {
    color: white;
    background: lightblue;
    font-size: 24pt;
    text-align: center;
    width: 100vw;
    height: 15vh;
}

.arrows img {
    height: 20px;
    width: 20px;
}

.voteCount {
    height: 20px;
    margin:  0px;
    text-align: center;
}

.entryRow {
    height:60px;
    margin: 5px;
    background: lightblue;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}